/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: arial;
	background-color: white;
}

.wrapper {
	width:28em;
	text-align: center;
	margin: 0 auto;
	padding-top: 5em;
	background-color: #a4e6e7;
	padding: 2em;
	border: 0.3em solid #79b66f;
	border-radius: 2em;
	margin-top: 1em;

}

.h1 {
	color: #79b66f;
	text-align: left;
	font-size: 2em;
}

h1 > img {
	width: 2em;
}

.by {
	text-align: right;
	font-size: 1.3em;
	padding-top: 0.6em;
	color: #4fb1bf;
}

.input {
	text-align: left;
	font-size: 1.2em;
	padding-top: 1em;
}

.input > p {
	color: #79b66f;
	float: left;
}

.add-items {
	text-align: center;
	border: 0.08em solid black;
	max-width: 9em;
	margin-top: 1.5em;
	font-size: 1.3em;
	border-radius: 0.3em;
	color: #184e5a;

}

.add-button {
	border: 0.08em solid black;
	text-align: center;
	max-width: 3em;
	position: relative;
	top: -29px;
	left: 264px;
	border-radius: 3em;
	font-size: 1.3em;
	color: #154049;

}

.shopping-list {
	border: 0.1em solid black;
	text-align: center;
	padding-bottom: 5em;
	padding-right: 2em;
	border-radius: 2em;
}

.shopping-list li{
	padding-top: 1em;
	font-size: 1.3em;
	text-align: left;
	padding-left: 2em;
	color: #446d3b;
}

img {
	width: 1.4em;
	height: auto;
	float: left;
	padding-left: em;
	padding-right: 2em;
}

.gotit {
	float: right;
	border: 0.1em solid black;
	text-align: center;
	border-radius: 2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #562020;
}